#Agendamento {
    padding: 15px;
    margin: 5px;
    border-radius: 3px;
    height: auto;
    max-width: 600px;
    min-width: 400px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.291);
  }
  
  h1, h2, h3, h4 {
    margin: 0;
  }
  
  form {
    height: auto;
    width: 100%;
    overflow: hidden
  }
  
  .leftSide {
    width: 50%;
    display: inline-block;
  }
  
  .rightSide {
    width: 50%;
    display: inline-block;
  }
  
  input {
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px
  }