#TabelaAgendamentos {
    display: table;
    margin: 1.2em;
    margin-top: 1.5em;
    padding: 2em;
}

thead {
    background-color: #283d4d;
    margin-left: auto;
}

th {
    text-align: center;
    color: white
}

table {
    background-color: #799aaf;
}